.header {
  background: url(..//images/index-bg.png) no-repeat;
  background-size: cover;
  height: 15em;
}
.header .nav {
  display: flex;
  justify-content: space-around;
  width: 90%;
  padding-top: 2em;
  height: 2em;
  line-height: 2em;
  margin: 0 auto;
  font-family: SHSC;
}
.header .nav .location {
  width: 30%;
}
.header .nav .location .dropdown {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-right: 0.5em;
}
.header .nav .location .dropdown button {
  padding: 0;
  background: transparent;
  color: #ffff;
}
.header .nav .ipt {
  width: 50%;
  margin-right: 1em;
}
.header .nav .ipt input {
  width: 100%;
  border-radius: 2em;
  border: 0px;
  text-align: center;
  margin-left: 1em;
  height: 1.8em;
  font-size: 0.8em;
}
.header .nav .news {
  width: 7%;
  line-height: 100%;
  padding-top: 0.5em;
  color: #fff;
}
.header .type {
  padding-top: 4em;
  color: #fff;
  font-family: SHSC;
  padding-left: 3em;
}
.header .type h1 {
  font-size: 1.6em;
  font-weight: bold;
  margin-bottom: 0.5em;
}
.header .type h2 {
  background: rgba(136, 127, 127, 0.349);
  width: 8em;
  height: 2em;
  text-align: center;
  line-height: 2em;
  border-radius: 0.5em;
}
.item {
  display: flex;
  justify-content: space-between;
  width: 94%;
  margin: 0 auto;
  background: #fff;
  border-radius: 1em;
  padding: 1em 1em;
  margin-top: -4em;
}
.item .icon {
  width: 20%;
  text-align: center;
}
.item .icon img {
  width: 1.5em;
  height: 1.5em;
}
.item .icon p {
  font-family: SHSC;
  color: #333333;
  font-size: 0.5em;
}
.kind {
  padding: em 1em;
  width: 94%;
  margin: 0 auto;
  margin-top: 1em;
  background: #fff;
  border-radius: 1em;
  box-shadow: 5px 5px 10px #f6f6f6;
}
.kind .top {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #a3a3a3;
}
.kind .top .k-icon {
  width: 19%;
  padding-top: 1em;
  margin-bottom: 1em;
}
.kind .top .k-icon img {
  width: 2em;
  height: 2em;
}
.kind .top .k-icon p {
  font-size: 0.5em;
  font-family: SHSC;
}
.kind .btm {
  display: flex;
  width: 100%;
  justify-content: space-around;
  font-family: SHSC;
  padding: 1em 0em;
}
.kind .btm .btm-l {
  width: 15%;
  border-right: 1px solid #a3a3a3;
}
.kind .btm .btm-l img {
  transform: scale(0.8);
}
.kind .btm .btm-c {
  width: 70%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  font-size: 0.8em;
  text-align: center;
  line-height: initial;
}
.kind .btm .btm-c .ctr-l {
  width: 16%;
  color: #5ca9f6;
  border: 1px solid #5ca9f6;
  height: 1.3em;
  line-height: 1.3em;
}
.kind .btm .btm-c .ctr-c {
  width: 74%;
  color: #a3a3a3;
  font-size: 0.8em;
}
.kind .btm .btm-c .ctr-r {
  width: 10%;
  color: #a3a3a3;
  font-size: 0.8em;
}
.kind .btm .btm-r {
  width: 5%;
  line-height: 100%;
  padding-top: 1em;
  text-align: center;
}
.rush {
  background: url(../images/rush-bg.png) no-repeat;
  background-size: cover;
  margin: 0 auto;
  width: 94%;
  padding: 2em 0em;
  position: relative;
  z-index: 1;
  margin-bottom: 2em;
}
.rush .r-top {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  line-height: 100%;
}
.rush .r-top .r-pic {
  width: 15%;
}
.rush .r-top .r-buy {
  width: 28%;
  color: #fff;
  font-size: 1em;
  font-weight: bold;
}
.rush .r-top .box {
  width: 50%;
  transform: scale(0.8);
}
.rush .r-top .box span {
  background: #fff;
  color: #72afec;
  padding: 0.1em;
  border-radius: 0.2em;
}
.rush .r-btm {
  display: flex;
  justify-content: space-between;
  padding: 1em 1em;
  width: 94%;
  background: #fff;
  margin: 0 auto;
  text-align: center;
  border-radius: 1em;
}
.rush .r-btm .r-pic {
  width: 33%;
  margin-right: 1.4em;
  text-align: center;
}
.rush .r-btm .r-pic img {
  width: 4em;
  height: 4em;
  border-radius: 1em;
}
.rush .r-btm .r-pic p {
  font-family: SHSC;
  color: #a3a3a3;
  font-size: 0.7em;
}
.rush .r-btm .r-pic p span {
  color: #ff0000;
  font-weight: bold;
  display: block;
  margin-top: 0.5em;
}
.rebate {
  width: 94%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
.rebate .left {
  width: 60%;
}
.rebate .left .top {
  display: flex;
  justify-content: space-around;
  width: 100%;
  background: #a1c4ff;
  overflow: hidden;
  border-radius: 1em;
  margin-bottom: 0.5em;
  height: 50%;
}
.rebate .left .top .words {
  width: 50%;
  padding: 1em 0em;
}
.rebate .left .top .words h1 {
  font-size: 1.1em;
  color: #fff;
  font-family: SHSC;
  font-weight: bold;
  margin-bottom: 1em;
}
.rebate .left .top .words span {
  background: #5ca9f6;
  color: #fff;
  padding: 0.2em;
  font-size: 0.7em;
}
.rebate .left .top .pic1 {
  width: 30%;
}
.rebate .left .top .pic1 img {
  width: 8em;
  margin-bottom: -2em;
  margin-left: -2em;
}
.rebate .left .btm {
  width: 100%;
  display: flex;
  justify-content: space-around;
  height: 47%;
}
.rebate .left .btm .one {
  width: 48%;
  background: #c0a1ff;
  text-align: center;
  border-radius: 0.5em;
}
.rebate .left .btm .one h2 {
  margin-top: 0.5em;
  font-family: SHSC;
  font-size: 1em;
  color: #fff;
  font-weight: bold;
  margin-bottom: 0.5em;
}
.rebate .left .btm .one img {
  width: 5em;
  margin-bottom: 0.5em;
}
.rebate .left .btm .one p {
  background: #8b59f1;
  color: #fff;
  padding: 0.2em;
  font-size: 0.7em;
  display: inline-block;
  border-radius: 0.2em;
}
.rebate .left .btm .two {
  width: 48%;
  background: #ffb7a1;
  text-align: center;
  border-radius: 0.5em;
}
.rebate .left .btm .two h2 {
  font-family: SHSC;
  font-size: 1em;
  color: #fff;
  font-weight: bold;
  margin-top: 0.5em;
}
.rebate .left .btm .two img {
  width: 4em;
}
.rebate .left .btm .two p {
  background: #e56a44;
  color: #fff;
  padding: 0.3em;
  font-size: 0.7em;
  display: inline-block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  border-radius: 0.2em;
}
.rebate .right {
  width: 40%;
  background: #ffcccc;
  height: 16em;
  border-radius: 0.5em;
  margin-left: 0.5em;
  padding: 0em 0.5em;
}
.rebate .right h1 {
  margin-top: 1em ;
  font-size: 1.1em;
  color: #fff;
  font-weight: bold;
  margin-bottom: 1em;
}
.rebate .right span {
  background: #ff6565;
  color: #fff;
  font-size: 0.7em;
  padding: 0.3em;
  border-radius: 0.2em;
}
.rebate .right img {
  margin-top: 1.5em;
  width: 7em;
  margin-bottom: 1.5em;
}
.rebate .right a span {
  background: rgba(0, 0, 0, 0.568);
  color: #fff;
}
.rebate .right a span:hover {
  cursor: pointer;
}
